<div class='contentpyc'>

  <h3>
    <center> PHIẾU YÊU CẦU HỖ TRỢ KỸ THUẬT </center>
  </h3>

  <form action='#' method='get' enctype="multipart/form-data">
    <!-- <div class="form-row">
        <div class="form-group col-md-6">
          
          <input type="text" class="form-control" id="txtmayeucau" name="mayc" value="122122003" disabled>
        </div>
      </div> -->
    <input id="idcode" name="code" value="" hidden="true">
    <div class="form-row">
      <div class="form-group col-md-6">
        <label>Người yêu cầu</label>
        <input type="text" class="form-control" id="txtnguoiyc" placeholder="Người yêu cầu" name="nguoiyc" value="<%= data[0].nguoiyeucau %>" readonly>
      </div>
      <div class="form-group col-md-6">
        <label>Ngày</label>
        <input type="date" class="form-control" id="txtngay" placeholder="Ngày" name="ngay" value="<%= data[0].ngayyeucau %>" readonly>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label>Bộ Phận</label>
        <input type="text" class="form-control" id="txtbophan" placeholder="Bộ phận" name="bophan" value="<%= data[0].bophan %>" readonly>
      </div>
      <div class="form-group col-md-6">
        <label>Điện thoại</label>
        <input type="text" class="form-control" id="txtdt" placeholder="Điện thoại" name="dienthoai" value="<%= data[0].dienthoai %>" readonly>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label>Vị trí</label>
        <input type="text" class="form-control" id="txtvitri" placeholder="Vị trí" name="vitri" value="<%= data[0].vitri %>" readonly>
      </div>
      <div class="form-group col-md-6">
        <b> Khẩn Cấp : </b>


        <div style="color: blue;">
          <h4> <%= data[0].khancap %> </h4>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="exampleFormControlTextarea1">Mô tả:</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="5" name='areamota' readonly><%= data[0].mota %></textarea>
    </div>
    <div class="form-group">
      Trạng thái trưởng bộ phận <b><%= data[0].bophan %></b>:
      <% var content1 %>
      <% switch (data[0].ttbp) {
              case 'dangxuly':
              content1 = "<h4 class='maudo'> Chờ Duyệt </h4>"
              break
            //   case 'duyet':
            //   content1 = "<h4 class='mauxanhduong'> Đã Duyệt </h4>"
            //   break
              case 'duyet':
              content1 = "<h4 class='mauxanhla'> Đã Duyệt </h4>"
              break
              default : 
              content1 = '...'
          } %>
      <%- content1 %>
    </div>
    <div class="form-group">
      Trạng thái phòng kỹ thuật:
      <% var content %>
      <% switch (data[0].trangthai) {
            case 'choduyet':
            content = "<h4 class='maudo'> Chờ Duyệt </h4>"
            break
            case 'daduyet':
            content = "<h4 class='mauxanhduong'> Đã Duyệt </h4>"
            break
            case 'hoanthanh':
            content = "<h4 class='mauxanhla'> Đã Hoàn Thành </h4>"
            break
            default : 
            content = '...'
        } %>
      <%- content %>
    </div>
  </form>
  <div>Hình ảnh: </div>

  <% data[0].filename.forEach((file, index) => { %>

  <!-- <% if ( index % 2 == 0 ) { %> -->
  <div class="container mx-auto text-center" >
    <!-- <% } %> -->
    <!-- <div class="row"> -->
      
        <img src="/<%= file.filename %>" atl="" class="clickable-image rounded custom-img" onclick="showFullSize(this)">
      
    <!-- </div> -->
    <!-- <% if ( index % 2 != 0 ) { %> -->
  </div>
  <!-- <% } %> -->


  <% }) %>

<div>
  <!-- <img src="/2023-12-20-09-58-54-zalo_last_screenshot.png" alt=""> -->
</div>



<style>
  .custom-img {
   
    border: 1px solid #fa9005bb; /*Đổi màu sắc của đường viền */
    padding: 3px; /* Tăng kích thước của đường viền */
    border-radius: 10px; /* Làm tròn các góc của đường viền */
  }
  .contentpyc {
    padding: 20px;
    background: #f2f2f2;
  }

  .checkmark {
    margin-right: 20px;
  }

  body {
    font-size: 100%;
    /* Điều chỉnh kích thước tổng thể bằng cách sử dụng font-size */
  }

  .maudo {
    color: #f74904;
  }

  .mauxanhduong {
    color: blue;
  }

  .mauxanhla {
    color: darkgreen;
  }

  .image-container {
    max-width: 50%;
    overflow: show;
  }

  .clickable-image {
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    max-width: 75%;
    
  }

  .clickable-image.full-size {
    transform: scale(2);
    /* You can adjust the scale factor as needed */
  }
</style>
<script>
  function showFullSize(image) {
    // Thêm hoặc xoá lớp CSS để thay đổi kích thước
    image.classList.toggle('full-size');

    // Nếu bạn muốn chuyển đến một trang mới khi click vào ảnh, bạn có thể sử dụng window.location.href
    // Ví dụ: window.location.href = 'url_cua_trang_anh_larger.html';
  }
</script>